.Footer {
    font-size: 15px;
    text-align: center;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    border-radius: 0px 0px 8px px;
    margin: 0px 10px;
    background: #ffffff;
    box-shadow:  5px 5px 8px #dbdbdb,
             -5px -5px 16px #ffffff;
}

#text1, #text2 {
    margin: 0;
}

#text1 {
    padding-top: 20px;
}

#text2 {
    padding-bottom: 20px;
}